* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: #fff;
}

.projects {
  width: 100%;
  margin: 0;
  padding: 0;
}

.project {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}

.project picture,
.project img {
  display: block;
  width: 100%;
}

.project img {
  height: auto;
  margin: 0;
  padding: 0;
}
