@font-face {
  font-family: "Quirk85";
  src: url("Quirk85Beta-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Quirk85", sans-serif;
  font-size: 28px;
  line-height: 1.05;
  font-weight: 700;

  color: #ffffff;
  background: #011455;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 16px;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

/* Mobile */
@media screen and (max-width: 600px) {
  body {
    font-size: 22px;
  }

  main {
    padding: 12px;
  }
}
